# Java/Gradle
.gradle/
build/
out/
**/classes/
# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/
# OS
.DS_Store
Thumbs.db
# Exclude wrapper binary from VCS
gradle/wrapper/gradle-wrapper.jar
